

@font-face {
  font-family: 'Kaleko105Book';
  src: url('/assets/fonts/Kaleko105Book.ttf') format('truetype');
}
body{
  font-family: 'Kaleko105Book', sans-serif;
  background-color: #F4F4F4;
}
.navbar{
  background-color: #fff;
  background-color: #000;
}
.navbar-brand img{
  height: 40px;
  width: auto;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  border-left: 1px solid #FF0202;
  border-right: 1px solid #FF0202;
}
.nav-link img{
}
.nav-link:focus, .nav-link:hover {
  color: #000;
  background-color: #fff;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #000;
  background-color: #fff;
}
.top-link{
  padding: 5px 10px !important;
  background-color: transparent;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-family: "Montserrat", serif;
}
.navbar-nav .top-link.active, .navbar-nav .top-link.show {
  color: #fff;
  background-color: #FF0202;
}
.top-item{

}
.fs-8{ font-size: 8px; }
.fs-10{ font-size: 10px; }
.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: #FF0202;
  background-color: transparent;
  border: 2px solid #FF0202;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: 0px;
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: #222;
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: 0px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius,0);
  font-size: 14px;
}
.mainBanner{
  background: 
    linear-gradient(90deg, #83B5C0 0%, rgba(182, 235, 249, 0) 100%), 
    url('/assets/img/mainBanner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
}

.category-box{
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  box-shadow: 0px 6px 4px 0px #00000040;
  color: #000;
  transition: .3s;
  cursor: pointer;
}
.category-icon{
  width: 60px;
  height: 60px;
  border-radius: 4px;
  gap: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #D3D3D3;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.category-box:hover{
  margin-top: -20px !important;
  background-color: #000;
  color: #fff;
}
.category-box:hover .category-icon{
  background-color: #fff;
  color: #000;
}


.brand-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
}
.brand-track {
  display: flex;
  width: calc(250px * 10); /* Adjust based on number of logos */
  animation: scroll 20s linear infinite;
}
.brand-track:hover {
  animation-play-state: paused;
}
.brand-box {
  flex: 0 0 auto;
  width: 250px;
  padding: 10px;
}
.brand-box img {
  width: 100%;
  height: auto;
}
@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .brand-track {
      width: calc(150px * 10);
  }
  .brand-box {
      width: 150px;
  }
}